body {
    background-color: chartreuse;
}

h1 {
    color:hotpink
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar {
    list-style-type: none;
    padding-left: 0;
}

li {
    flex-basis: 20%;
    text-align: center;
    border: 1px solid #FF3500;
    background-color: bisque;
    padding: 3px;
}

a {
    text-decoration: none;
}